#navbar {
    
}

#btnLoginNavbar {
    color: #FF9900;
    border: 2px solid #FCB05A;
    border-radius: 50px;
}

#btnCadastroNavbar {
    color: #FCB05A;
    border: none;
    background-color: transparent;
}