@import '../scss//styleDefault.scss';

#bodyLogoff {
    background-image: url(../images/6edbdb59-c5c8-4c54-82f5-0fab8db89cd7.jpg);
    background-size: cover;
    margin: 0;
}

#logoHomeLogoff {
    width: 250px;
}