@import '../scss//styleDefault.scss';

#bodyLogoff {
    background-image: url(../images/6edbdb59-c5c8-4c54-82f5-0fab8db89cd7.jpg);
    background-size: cover;
    margin: 0;
}

#logoHomeLogoff {
    animation-name: fade;
    animation-duration: 0.5s;
    width: 350px;
    height: 350px;
}

#title {
    margin-top: -6%;
}

#btnsAccess {
    padding-bottom: 4%;
}