@import '../scss/styleDefault.scss';

#tudo {
    
}

#logoLogin {
    width: 300px;
    height: 300px;
}

.container {
    animation-name: fade;
    animation-duration: 0.8s;
}

.bg-login {
   background: url("../images/e3c78ef5-e48b-4c34-b2b3-efcaed81aa39.jpg");
   background-size: cover;
}

.container {
    padding: 3% 1% 5% 30%;

    input {
        border: 2px solid $color-primary;
        color: $color-primary;
        font-family: $font;
        border-radius: 50px;
        background: transparent;
        width: 300px;
        height: 50px;
    }

    ::placeholder{
        color: $color-primary;
        font: 16pt $font;
        padding-left: 10px;
    }

    button {
        border-radius: 50px;
        border: none;
        background:#A7007B;
        box-shadow: 0px 9px 9px #00000029;
        width: 300px;
        height: 50px;
        font: 20pt $font;
        font-weight: 500;
        transition: 0.1s ease-in-out;
        &:hover {
            background-color: darken($color: #A7007B, $amount: 5);
            transition: 0.1s ease-in-out;
        }
    }

    p {
        font: 14pt $font;
        color:#B0ACAC;

    }

    span {
        color:#D39D08;
    }

}
