@import '../scss//styleDefault.scss';

#modalServiceDetails {
    border: 3px solid $color-background;
}

.dataClient {
    color: $color-background;
}

#btnReprovar, #btnRate {
    @extend %buttonStyle;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
    &:hover {
        background-color: lighten($color: #dc3545, $amount: 10);
        transition: 0.2s ease-in-out;
    }
}

#btnAprovar {
    @extend %buttonStyle;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: white;
    &:hover {
        background-color: lighten($color: $color-primary, $amount: 10);
        transition: 0.2s ease-in-out;
    }
}

#btnConfirm {
    @extend %buttonStyle;
    background-color: $color-background;
    border: $color-background;
    color: white;
    &:hover {
        background-color: lighten($color: $color-background, $amount: 10)
    }
}