@import '../scss/styleDefault.scss';

.navbarServices {
    background-color: $color-background;
    padding: 1%;
}

.phraseServices {
    color: $color-primary;
    font-family: $font;
    font-size: 22pt;
    font-weight: 500;
}