@import '../scss/styleDefault.scss';

#btnLoginNavbar {
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 50px;
    font-size: 25px;
    width: 140px;

    &:hover {
    background-color: $color-primary;
    color: white;
    transition: 0.1s ease-in-out;
    }
}

#btnCadastroNavbar {
    color: $color-primary;
    border: none;
    background-color: transparent;
    font-size: 25px;
    &:hover {
        color: lighten($color: $color-primary, $amount: 25);
        transition: 0.1s ease-in-out;
    }
}