;@import '../scss/styleDefault.scss';

#logoHome{
    @extend %logoStyle;
}

#btnLoginNavbar {
    color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 50px;
    font-size: 25px;
    width: 140px;

    &:hover {
    background-color: #010738;
    color: $color-gray;
    border: 1px solid #010738;
    transition: 0.1s ease-in-out;
    }
}

#btnCadastroNavbar {
    color: $color-primary;
    border: none;
    background-color: transparent;
    font-size: 25px;
    &:hover {
        color: lighten($color: $color-primary, $amount: 25);
        transition: 0.1s ease-in-out;
    }
}