$color-background:  #34326E;
$color-gray:  #B0ACAC;
$color-turtle: #A7007B;
$color-primary: #FF9900;
$font: Quicksand, sans-serif;

//CRIANDO PLACEHOLDER
%style-inputs {
    border: 2px solid $color-primary;
    outline: none;
}

%phraseMotivation {
    background-color: $color-background;
    color: #B0ACAC;
    font-family: $font;
    font-size: 20pt;
    padding-bottom: 1%;
}

%noRegister {
    font-family: $font;
    font-size: 18pt;
}

%buttonStyle {
    border: 2px solid;
    border-radius: 50px;
}
