$color-background:  #34326E;
$color-primary: #FF9900;
$font: Quicksand, sans-serif;

//CRIANDO PLACEHOLDER
%style-inputs {
    border: 2px solid $color-primary;
    outline: none;
}

%phraseMotivation {
    background-color: $color-background;
    color: #B0ACAC;
    font-family: $font;
    font-size: 20pt;
    padding-bottom: 1%;
}

