$color-background:  #34326E;
$color-gray:  #B0ACAC;
$color-turtle: #A7007B;
$color-primary: #FF9900;
$font: Quicksand, sans-serif;

//CRIANDO PLACEHOLDER
%style-inputs {
    border: 2px solid $color-primary;
    outline: none;
}

%phraseMotivation {
    background-color: $color-background;
    color: #B0ACAC;
    font-family: $font;
    font-size: 20pt;
    padding-bottom: 1%;
}

%noRegister {
    font-family: $font;
    font-size: 18pt;
}

%buttonStyle {
    border: 2px solid;
    border-radius: 50px;
}

%logoStyle {
    height: 130px;
    width: 130px;
    color: $color-primary;
}

%cardContainer {
    border-radius: 10px;
    padding: 1%;
}

//EFEITO DE TRANSIÇÃO
@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
    
}
::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: $color-background;
}

::-webkit-scrollbar-thumb {
    background-color: #586ADF;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {

}

::-webkit-resizer {
    background-color: $color-background;
}